:root {
  --modViolet: hsl(263, 55%, 52%);
  --modVioletLight: hsl(263, 55%, 70%);
  --darkGray: hsl(217, 19%, 35%);
  --darkBlue: hsl(219, 29%, 14%);
  --darkBlueLight: hsl(219, 29%, 14%, 70%);
  --white: hsl(0, 0%, 100%);
  --whiteLight: hsla(0, 0%, 100%, 70%);
  --lightGray: hsl(0, 0%, 81%);
  --lightBlue: hsl(210, 46%, 95%);
  --lightBlueLight: hsla(210, 46%, 95%, 70%);
  --boxShadow: hsla(217, 19%, 35%, 25%);
  --lightWeight: 500;
  --heavyWeight: 600;
  --fontSize: 13px;
  --fontFamily: 'Barlow Semi Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  background-color: var(--lightBlue);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3 {
  font-weight: var(--heavyWeight);
}

p {
  font-weight: var(--lightWeight);
}

.card {
  border-radius: 8px;
  padding: 30px;
  background-color: var(--white);
  color: var(--darkBlue);
  -webkit-box-shadow: 40px 60px 50px var(--boxShadow);
          box-shadow: 40px 60px 50px var(--boxShadow);
}

.card p {
  color: var(--darkBlueLight);
}

.highlight {
  background-color: var(--modViolet);
  color: var(--white);
}

.highlight p {
  color: var(--modVioletLight);
}

.highlight .testimonial-img {
  border: 2px solid var(--modVioletLight);
}

.lightGray {
  background-color: var(--darkGray);
  color: var(--white);
}

.lightGray p {
  color: var(--whiteLight);
}

.darkGray {
  background-color: var(--darkBlue);
  color: var(--lightBlue);
}

.darkGray p {
  color: var(--lightBlueLight);
}

.darkGray .testimonial-img {
  border: 2px solid var(--modViolet);
}

.grid-wrapper {
  max-width: 90%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2;
      grid-template-rows: 2;
}

.span2-col {
  grid-column: span 2;
}

.span2-row {
  grid-row: span 2;
}

.testimonial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-img {
  border-radius: 50%;
  max-height: 28px;
}

.testimonial-name {
  padding-left: 15px;
}

.testimonial-name h3 {
  margin: 0;
}

.testimonial-name p {
  margin: 0;
}

@media screen and (max-width: 375px) {
  .grid-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .span2-row {
    grid-row: span 1;
  }
  .span2-col {
    grid-column: span 1;
  }
  .darkGray {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}
/*# sourceMappingURL=testimonials.css.map */