/* ----------------------------- */
/* Banner with Image------------ */
/* ----------------------------- */

.banner {
    position: relative;

    img {
        width: 100%;
    }

    .banner-content {
        position: absolute;
        bottom: 0;
        height: 100%;
        padding-inline: 1rem;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: $tablet) {
    .banner {

        .banner-content {
            --fs-700: 1.5rem;
            --lh-48: 25px;

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

@media screen and (min-width: $desktop) {
    .banner {
        .banner-content {
            --fs-700: 2rem;
            --lh-48: 48px;
        }
    }
}