/* ----------------------------- */
/* 3 Column Features------------ */
/* ----------------------------- */

.feature-descriptions {
    --flow-space: .5em;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap, 2rem);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-inline: 1rem;

    .content {
        margin-top: 2rem;
    }

    div {
        display: grid;

        p {
            color: hsla(var(--clr-dark-h), var(--clr-dark-s), var(--clr-dark-l), .6);
        }
    }

    img {
        place-self: center;
        max-width: 70px;
        height: auto;
    }    
}

@media screen and (min-width: $tablet) {
    .feature-descriptions-2-col {
        grid-template-columns: 1fr 1fr;

        .content {
            align-content: start;
        }
    }
}

@media screen and (min-width: $desktop) {
    .feature-descriptions {
        grid-template-columns: 3fr 3fr 3fr;
        padding-inline: 3rem;

        .content {
            padding: 0;
        }

        div {
            display: grid;
            grid-template-rows: 3fr 1fr 3fr;
            align-items: center;
        }
    }
}

